body{    
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;    
}
.half-width img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    border-radius: 5px;
    padding: 10px 40px;
}
.part-one{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.part-two{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big{
    padding-right: 5%;
}
.dev-details{
    display: flex;
}
.experience-block{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    box-shadow: 10px 10px 40px gray;
}
h2{
    font-size: 40px;
}
.part-three{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
#block-one{
    border-left: 7px solid;
    border-image: linear-gradient(red,tomato);
    border-image-slice: 1;
}
#block-two{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}