body{    
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.myName{
    color:orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;    
}
.half-width img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    border-radius: 5px;
    padding: 10px 40px;
}
.part-one{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    display: flex;
    margin-bottom: 150px;
}
.part-two{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big{
    padding-right: 5%;
}
